.single-card-container {
  margin-bottom: 30px;
  line-height: 30px;
}

.single-card-container img {
  width: 100%;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-info {
  padding: 5px 15px;
}
.user {
  display: flex;
  gap: 20px;
}
.single-card-container h2 {
  padding: 8px 0;
}

.time span {
  margin-left: 8px;
}

hr {
  margin-top: 10px;
}

.single-card-container button {
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .user-info {
    display: block;
  }
  .user {
    display: block;
  }
  .user img {
    width: 50px;
  }
}
